@font-face {
  font-family: Eurostile;
  src: url(./fonts/Eurostile/EurostileBold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: DS-Digital;
  src: url(./fonts/ds_digital/DS-DIGI.TTF) format('truetype');
}

@font-face {
  font-family: 'Courier Prime';
  src: url(./fonts/Courier_Prime/CourierPrime-Regular.ttf) format('truetype');
}

:root {
  --display-dark: #2F2B28;
  --display-light: #9A999F;
  --solar-panel: #46322B;
  --screen-light: #D5E3E4;
  --key-black: #333333;
  --key-black-light: #575757;
  --key-black-dark: #232323;
  --key-grey: #675F5D;
  --key-grey-light: #827976;
  --key-grey-dark: #534e4c;
  --key-orange: #DE7324;
  --key-orange-light: #DE8545;
  --key-orange-dark: #BF6321;
  --key-magenta: #995267;
  --key-magenta-light: #A6697C;
  --key-magenta-dark: #85485A;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  padding-inline: 30px;
}

.display {
  background-color: var(--display-dark);
  border: 4px solid none;
  border-radius: 30px 30px 0px 0px;
  border-bottom: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Head */

.head {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand {
  font-family: Eurostile, monospace;
  font-size: 2.5rem;
  color: white;
  align-self: flex-start;
  letter-spacing: 1.2px;
  margin-left: 4px;
}

.model {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
  color: white;
  margin-left: auto;
  letter-spacing: 0.05rem;
  align-self: flex-start;
  width: max-content;
}

.solar {
  width: 130px;
  height: 35px;
  background-color: rgb(157, 157, 157);
  border: 4px solid var(--solar-panel);
  border-radius: 3px;
  display: flex;
  gap: 0.8px;
  margin-right: 4px;
}

.solar > * {
  background-color: var(--solar-panel);
  width: 100%;
  height: 100%;
}

/* Screen */

.screen {
  background-color: var(--screen-light);
  height: 90px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8px 8px 0 0;
}

.previous {
  display: block;
  font-family: DS-Digital;
  font-size: 2.7rem;
}

.current {
  display: block;
  font-family: DS-Digital;
  font-size: 5.5rem;
}

.keypad {
  background-color: var(--display-light);
  border: 4px solid var(--key-grey);
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    'negative clear backspace divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero decimal equal add';
  gap: 12px;
}

/* Buttons */

button {
  font-family: 'Courier Prime', monospace;
  font-size: 3rem;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.negative {
  background-color: var(--key-magenta);
  border: 3px solid var(--key-magenta);
}

.negative:hover,
.negative:focus {
  background-color: var(--key-magenta-light);
  border-color: var(--key-magenta-light);
  outline: none;
}

.negative:active,
.negative.active {
  background-color: var(--key-magenta-dark);
  border-color: var(--key-magenta-dark);
}

.erase {
  background-color: var(--key-orange);
  border: 3px solid var(--key-orange);
}

.erase:hover,
.erase:focus {
  background-color: var(--key-orange-light);
  border-color: var(--key-orange-light);
  outline: none;
}

.erase:active,
.erase.active {
  background-color: var(--key-orange-dark);
  border-color: var(--key-orange-dark);
}

.operator {
  background-color: var(--key-grey);
  border: 3px solid var(--key-grey);
}

.operator:hover,
.operator:focus {
  background-color: var(--key-grey-light);
  border-color: var(--key-grey-light);
  outline: none;
}

.operator:active,
.operator.active {
  background-color: var(--key-grey-dark);
  border-color: var(--key-grey-dark);
}

.digit {
  background-color: var(--key-black);
  border: 3px solid var(--key-black);
}

.digit:hover,
.digit:focus {
  background-color: var(--key-black-light);
  border-color: var(--key-black-light);
  outline: none;
}

.digit:active,
.digit.active {
  background-color: var(--key-black-dark);
  border-color: var(--key-black-dark);
}

button[value='negative'] {
  grid-area: negative;
}

button[value='clear'] {
  grid-area: clear;
}

button[value='backspace'] {
  grid-area: backspace;
}

button[value='divide'] {
  grid-area: divide;
}

button[value='seven'] {
  grid-area: seven;
}

button[value='eight'] {
  grid-area: eight;
}

button[value='nine'] {
  grid-area: nine;
}

button[value='multiply'] {
  grid-area: multiply;
}

button[value='four'] {
  grid-area: four;
}

button[value='five'] {
  grid-area: five;
}

button[value='six'] {
  grid-area: six;
}

button[value='subtract'] {
  grid-area: subtract;
}

button[value='one'] {
  grid-area: one;
}

button[value='two'] {
  grid-area: two;
}

button[value='three'] {
  grid-area: three;
}

button[value='add'] {
  grid-area: add;
  height: auto;
}

button[value='zero'] {
  grid-area: zero;
}

button[value='decimal'] {
  grid-area: decimal;
}

button[value='equal'] {
  grid-area: equal;
}
