body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

main {
  height: 92vh;
  overflow-y: hidden;
}

.container {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 200px;
  min-height: 275px; */
  width: 310px;
  height: 65%;
  background-color: rgb(165, 165, 165);
  border: 2px solid rgb(171, 171, 171);
  border-radius: 15px;
  padding: 35px;
  overflow-y: hidden;
}

.display {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 35px;
  /* background-color: rgb(212, 255, 251); */
}

.upperDisplay {
  background-color: rgb(212, 255, 251);
  border-radius: 5px 5px 0 0;
  border: none;
  height: 35px;
  /* margin: 0 5% 0 5%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 17.5px;
}

.lowerDisplay {
  background-color: rgb(212, 255, 251);
  border-radius: 0 0 5px 5px;
  border: none;
  height: 55px;
  /* margin: -2px 5% 12.5px 5%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 35px;
}

.previousOperation {
  position: relative;
  bottom: 4px;
  right: 9px;
}

.currentInput {
  position: relative;
  bottom: 5px;
  right: 9px;
}

.keys {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    ". clear backspace slash"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero decimal equal plus";
  /* margin: auto 8% 8%; */
  /* max-width: 100%; */
  /* max-height: auto; */
  height: auto;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  max-width: 100%;
  height: 45px;
  font-size: 20px;
}

.number, .other {
  background-color: rgb(238, 236, 236);
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.number:hover, .other:hover {
  background-color: rgb(245, 245, 245);
}

.number:active, .other:active, .number-active, .other-active {
  background-color: rgb(207, 207, 207);
}

.operator {
  background-color: rgb(106, 106, 106);
  color: whitesmoke;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 5px;
}

.operator:hover {
  background-color: rgb(137, 137, 137);
}

.operator:active, .operator-active {
  background-color: rgb(83, 83, 83);
}

.erase {
  background-color: rgb(254, 182, 49);
  border: 2px solid rgb(249, 164, 6);
  border-radius: 5px;
}

.erase:hover {
  background-color: rgb(255, 198, 92);
}

.erase:active, .erase-active {
  background-color: rgb(252, 172, 23);
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: #0D1117;
}

#made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

#github {
  margin-right: 17.5px;
}

.fa-github {
  font-size: 27.5px;
  color: white;
}

#clear {
  grid-area: clear;
}

#backspace {
  grid-area: backspace;
}

#slash {
  grid-area: slash;
}

#times {
  grid-area: times;
}

#minus {
  grid-area: minus;
}

#plus {
  grid-area: plus;
  height: auto;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equal {
  grid-area: equal;
}