:root {
  max-height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 70%;
  background-color: rgb(165, 165, 165);
  border: 2px solid rgb(171, 171, 171);
  border-radius: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 40px 15px 30px;
}

.previousOperation {
  background-color: rgb(212, 255, 251);
  border-radius: 3px 3px 0 0;
  height: 35px;
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.currentInput {
  background-color: rgb(212, 255, 251);
  border-radius: 0 0 3px 3px;
  height: 55px;
  margin: 0 5% 12.5px 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.userInput {
  position: relative;
  bottom: 7.5px;
  right: 7.5px;
  font-size: 30px;
}

.keys {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    ". clear backspace slash"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero decimal equal plus";
  margin: auto 8% 8%;
  max-width: 100%;
  max-height: auto;
  gap: 10px;
}

button {
  max-width: 100%;
  height: 40px;
  font-size: 20px;
}

.number, .other {
  background-color: rgb(238, 236, 236);
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.number:hover, .other:hover {
  background-color: rgb(241, 241, 241);
}

.number-hover, .other-hover {
  background-color: rgb(241, 241, 241);
}

.number:active, .other:active {
  background-color: rgb(207, 207, 207);
}

.number-active, .other-active {
  background-color: rgb(207, 207, 207);
}

.operator {
  background-color: rgb(106, 106, 106);
  color: whitesmoke;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 5px;
}

.operator:hover {
  background-color: rgb(137, 137, 137);
}

.operator:active {
  background-color: rgb(83, 83, 83);
}

.operator-hover {
  background-color: rgb(137, 137, 137);
}

.operator-active {
  background-color: rgb(83, 83, 83);
}

.erase {
  background-color: rgb(254, 182, 49);
  border: 2px solid rgb(249, 164, 6);
  border-radius: 5px;
}

#clear:hover, #backspace:hover {
  background-color: rgb(255, 198, 92);
}

#clear:active, #backspace:active {
  background-color: rgb(252, 172, 23);
}

.erase-hover {
  background-color: rgb(255, 198, 92);
}

.erase-active {
  background-color: rgb(252, 172, 23);
}

#clear {
  grid-area: clear;
}

#backspace {
  grid-area: backspace;
}

#slash {
  grid-area: slash;
}

#times {
  grid-area: times;
}

#minus {
  grid-area: minus;
}

#plus {
  grid-area: plus;
  height: auto;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equal {
  grid-area: equal;
}

/* adjust positioning of display lines